table {
  border-collapse: inherit;
  table-layout: fixed;
  text-align: center;
  font: 13px Verdana;
  border-radius: 30px;
  border-spacing: 0px;
  border-spacing: 0 1em;
  width: 70vw;
}

.delete-icon{
  border: 0;
  background-color: white;
  cursor: pointer;
}

table select{
  cursor: pointer;
  margin-left: 10px;
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
  border: 0;
  background: #fff;
}

table select::-ms-expand {
  display: none;
}

table td, table th {
  border: 1px solid #000000;
  padding: 10px;
  color: #000;
  border-left: none;
}
table th {
  padding: 15px;
}

table tr {
  margin-bottom: 10px;
}

table td:first-child, 
table th:first-child{
  border-left: 1px solid #000000;
}

table tbody td:first-child,
table thead th:first-child {
  border-radius: 20px 0 0 20px;
}

table tbody td:last-child,
table thead th:last-child {
  border-radius: 0 20px 20px 0;
}

table tbody td:nth-child(1),
table tbody td:nth-child(2),
table tbody td:nth-child(3),
table thead th:nth-child(1),
table thead th:nth-child(2),
table thead th:nth-child(3)  {
  border-right: 0;
}

.row-container{
  margin-bottom: 10px;
  width: 100%;
}

